body {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}

section {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

section > div:nth-of-type(1){
    background-color:#8F3F45;
    height: 10vh;
    position: sticky;
    top: 0;

}

section > div:nth-of-type(2){
    background-color: #AD5249;
    height: 90vh;
    display: flex;
    position: sticky;
    top: 10vh;
}

#container {
    height: 90vh;
    background-color: #9A8260;
    display: flex;
    flex-wrap: wrap;
}

section > div:nth-of-type(4){
    background-color: rgb(207, 119, 119);
    height: 90vh;
    display: flex;
}

#container > div:nth-of-type(1){
    background-color: #6D505B;
    height: 45vh;
}

#square-content {
    background:#617559;
    height: 45vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#square-content > div {
    background-color: #7F9E73;
    height: 20vh;
}

#container > div:nth-of-type(3){
    background-color: #DD9F8F;
    height: 45vh;
}

#column-content {
    background-color: rgb(126, 126, 99);
    height: 45vh;
    display: flex;
    flex-direction: column;
}

#column-content > div {
    border: 1px solid black;
    height: 33.33%;
}

#container > div:nth-of-type(5){
    background-color: #af4b49;
    height: 45vh;
}

.col-d-1 { width: 8.33%;}
.col-d-2 { width: 16.66%;}
.col-d-3 { width: 25%;}
.col-d-4 { width: 33.33%;}
.col-d-5 { width: 41.66%;}
.col-d-6 { width: 50%;}
.col-d-7 { width: 58.33%;}
.col-d-8 { width: 66.66%;}
.col-d-9 { width: 75%;}
.col-d-10 { width: 83.33%;}
.col-d-11 { width: 91.66%;}
.col-d-12 { width: 100%;}

/* for tablet */

@media only screen and (max-width: 768px) {
    section > div:nth-of-type(2), section > div:nth-of-type(4){
        visibility: hidden;
    }

    .col-t-1 { width: 8.33%;}
    .col-t-2 { width: 16.66%;}
    .col-t-3 { width: 25%;}
    .col-t-4 { width: 33.33%;}
    .col-t-5 { width: 41.66%;}
    .col-t-6 { width: 50%;}
    .col-t-7 { width: 58.33%;}
    .col-t-8 { width: 66.66%;}
    .col-t-9 { width: 75%;}
    .col-t-10 { width: 83.33%;}
    .col-t-11 { width: 91.66%;}
    .col-t-12 { width: 100%;}
}

/* for mobile */

@media only screen and (max-width: 600px) {

    section > div:nth-of-type(2), section > div:nth-of-type(4){
        display: none;
    }

    .col-m-1 { width: 8.33%;}
    .col-m-2 { width: 16.66%;}
    .col-m-3 { width: 25%;}
    .col-m-4 { width: 33.33%;}
    .col-m-5 { width: 41.66%;}
    .col-m-6 { width: 50%;}
    .col-m-7 { width: 58.33%;}
    .col-m-8 { width: 66.66%;}
    .col-m-9 { width: 75%;}
    .col-m-10 { width: 83.33%;}
    .col-m-11 { width: 91.66%;}
    .col-m-12 { width: 100%;}
}
